@import url('/public/css/EstiloLogin.css');
@import url('/public/css/Button.css');
@import url('/public/css/Datatable.css');
@import url('/public/css/Form_General.css');
@import url('/public/css/admin/navbar.css');
@import url('/public/css/admin/home.css');
@import url('/public/css/admin/usermanagement.css');
@import url('/public/css/admin/formatpage.css');
@import url('/public/css/alumno/home.css');
@import url('/public/css/alumno/documentos.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #FF671F;
    --secondary-color: #99120A;
    --terciary-color: #BCBCBC;
}


.title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
