@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar__Admin {
    display:flex;
    justify-content: space-between;
    background: var(--primary-color);
}

.navbar__Admin__holder {
    width: 10%;
}

.navbar__Admin__links_normal {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__Admin__links_normal li {
    height: 100%;
    padding: 2rem;
}

.navbar__Admin__links_normal li:hover {
    background: #ffffff;
    color: #000000;
}